openapi: 3.0.1
info:
  title: Ignite REST module
  contact:
    email: user@ignite.apache.org
  license:
    name: Apache 2.0
    url: https://ignite.apache.org
  version: 3.0.0-SNAPSHOT
paths:
  /management/v1/cluster/init:
    post:
      tags:
      - clusterManagement
      operationId: init
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitCommand'
        required: true
      responses:
        "200":
          description: Cluster initialized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "400":
          description: Incorrect configuration
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /management/v1/cluster/state:
    get:
      tags:
      - clusterManagement
      operationId: clusterState
      parameters: []
      responses:
        "200":
          description: Return cluster state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterState'
        "404":
          description: "Cluster state not found, it means that the cluster is not\
            \ initialized"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /management/v1/cluster/topology/logical:
    get:
      tags:
      - topology
      operationId: logical
      parameters: []
      responses:
        "200":
          description: Logical topology returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClusterNode'
        "404":
          description: "Logical topology not found, it means that the cluster is not\
            \ initialized"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /management/v1/cluster/topology/physical:
    get:
      tags:
      - topology
      operationId: physical
      parameters: []
      responses:
        "200":
          description: Physical topology returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClusterNode'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /management/v1/configuration/cluster:
    get:
      tags:
      - clusterConfiguration
      operationId: getClusterConfiguration
      parameters: []
      responses:
        "200":
          description: Get cluster configuration
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "400":
          description: Incorrect configuration
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: "Configuration not found, it means that the cluster is not\
            \ initialized"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    patch:
      tags:
      - clusterConfiguration
      operationId: updateClusterConfiguration
      parameters: []
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: Configuration updated
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Void'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "400":
          description: Incorrect configuration
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: "Configuration not found, it means that the cluster is not\
            \ initialized"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /management/v1/configuration/cluster/{path}:
    get:
      tags:
      - clusterConfiguration
      operationId: getClusterConfigurationByPath
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Configuration represented by path
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "400":
          description: Incorrect configuration
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: "Configuration not found, it means that the cluster is not\
            \ initialized"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /management/v1/configuration/node:
    get:
      tags:
      - nodeConfiguration
      operationId: getNodeConfiguration
      parameters: []
      responses:
        "200":
          description: Whole node configuration
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "400":
          description: Incorrect configuration
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    patch:
      tags:
      - nodeConfiguration
      operationId: updateNodeConfiguration
      parameters: []
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: Configuration updated
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Void'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "400":
          description: Incorrect configuration
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /management/v1/configuration/node/{path}:
    get:
      tags:
      - nodeConfiguration
      operationId: getNodeConfigurationByPath
      parameters:
      - name: path
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Configuration represented by path
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "400":
          description: Incorrect configuration
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /management/v1/metric/node:
    get:
      tags:
      - nodeMetric
      operationId: listNodeMetrics
      parameters: []
      responses:
        "200":
          description: Metric sources returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MetricSource'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /management/v1/metric/node/disable:
    post:
      tags:
      - nodeMetric
      operationId: disableNodeMetric
      parameters: []
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: Metric source disabled
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: Metric source not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /management/v1/metric/node/enable:
    post:
      tags:
      - nodeMetric
      operationId: enableNodeMetric
      parameters: []
      requestBody:
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: Metric source enabled
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: Metric source not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /management/v1/node/state:
    get:
      tags:
      - nodeManagement
      operationId: nodeState
      parameters: []
      responses:
        "200":
          description: Return node state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeState'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /management/v1/node/version:
    get:
      tags:
      - nodeManagement
      operationId: nodeVersion
      parameters: []
      responses:
        "200":
          description: Return node version
          content:
            text/plain:
              schema:
                type: string
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    ClusterNode:
      required:
      - address
      - id
      - metadata
      - name
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        address:
          $ref: '#/components/schemas/NetworkAddress'
        metadata:
          $ref: '#/components/schemas/NodeMetadata'
    ClusterState:
      required:
      - clusterTag
      - cmgNodes
      - igniteVersion
      - msNodes
      type: object
      properties:
        cmgNodes:
          type: array
          items:
            type: string
        msNodes:
          type: array
          items:
            type: string
        igniteVersion:
          type: string
        clusterTag:
          $ref: '#/components/schemas/ClusterTag'
    ClusterTag:
      required:
      - clusterId
      - clusterName
      type: object
      properties:
        clusterId:
          type: string
          format: uuid
        clusterName:
          type: string
    InitCommand:
      required:
      - clusterName
      - metaStorageNodes
      type: object
      properties:
        metaStorageNodes:
          type: array
          items:
            type: string
        cmgNodes:
          type: array
          items:
            type: string
        clusterName:
          type: string
    InvalidParam:
      required:
      - name
      - reason
      type: object
      properties:
        name:
          type: string
        reason:
          type: string
    MetricSource:
      required:
      - enabled
      - name
      type: object
      properties:
        name:
          type: string
        enabled:
          type: boolean
    NetworkAddress:
      required:
      - host
      - port
      type: object
      properties:
        host:
          type: string
        port:
          type: integer
          format: int32
    NodeMetadata:
      required:
      - restHost
      - restPort
      type: object
      properties:
        restHost:
          type: string
        restPort:
          type: integer
          format: int32
    NodeState:
      required:
      - name
      - state
      type: object
      properties:
        name:
          type: string
        state:
          $ref: '#/components/schemas/State'
    Problem:
      required:
      - code
      - status
      - title
      type: object
      properties:
        title:
          type: string
        status:
          type: integer
          format: int32
        code:
          type: string
        type:
          type: string
        detail:
          type: string
        node:
          type: string
        traceId:
          type: string
          format: uuid
        invalidParams:
          type: array
          items:
            $ref: '#/components/schemas/InvalidParam'
    State:
      type: string
      enum:
      - STARTING
      - STARTED
      - STOPPING
    Void:
      type: object
