<configuration>
  <appender name="RollingFile"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS}/ignite-cli.log</file>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">

    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOGS}/archived/ignite-cli-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>200MB</maxFileSize>
      <maxHistory>90</maxHistory>
      <totalSizeCap>2GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <root level="info">
    <appender-ref ref="RollingFile"/>
  </root>

</configuration>
